/* Default settings */
* {
margin: 0;
padding: 0;
}

body {
    background-color: #303030;
    color: #EAEAEA;
    font-family: Nunito, sans-serif;
    font-size: 1em;
}


/* Style the title of importance 1 */
h1 {
    background-color: transparent;
    border: solid 0 transparent;
    color: #EAEAEA;
    font-family: Montserrat, sans-serif;
    font-size: 2.75em;
}

/* Style the title of importance 2 */
h2 {
    color: #EAEAEA;
    font-family: Montserrat, sans-serif;
    font-size: 2em;

}

/* Style the title of importance 3 */
h3 {
    background-color: transparent;
    border: solid 1px transparent;
    color: #EAEAEA;
    font-family: Montserrat, sans-serif;
    font-size: 1,75em;

}

/* Style the title of importance 4 */
h4 {
    background-color: transparent;
    border: solid 1px transparent;
    color: #7D7D7D;
    font-family: Montserrat, sans-serif;
    font-size: 1,5em;

}

/* Style the title of importance 5 */
h5 {
    background-color: #EAEAEA;
    font-family: Montserrat, sans-serif;
    font-size: 1,25em;
}

/* Style the header */
.header {
  background-color: #444444;
  padding: 10px;
  text-align: left;
  position: relative
}


/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #444444;
  color: #EAEAEA;
  font-family: Nunito, sans-serif;

}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #D37243;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #D34343;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
}

div#footer {
 position: absolute;
 bottom: 0;
}
