/* Default settings */
body {
    background-color: #303030;
    font-family: Nunito, sans-serif;
    font-size: 1em;
}


/* Style the title of importance 1 */
h1 {
    background-color: transparent;
    border: solid 0 transparent;
    color: #EAEAEA;
    font-family: Montserrat, sans-serif;
    font-size: 2,5em;
}

/* Style the title of importance 2 */
h2 {
    color: #EAEAEA;
    font-family: Montserrat, sans-serif;
    font-size: 2em;

}

/* Style the title of importance 3 */
h3 {
    background-color: transparent;
    border: solid 1px transparent;
    color: #EAEAEA;
    font-family: Montserrat, sans-serif;
    font-size: 1,75em;

}

/* Style the title of importance 4 */
h4 {
    background-color: transparent;
    border: solid 1px transparent;
    color: #7D7D7D;
    font-family: Montserrat, sans-serif;
    font-size: 1,5em;

}

/* Style the title of importance 5 */
h5 {
    background-color: #EAEAEA;
    font-family: Montserrat, sans-serif;
    font-size: 1,25em;
}

/* Style the header */
.header {
  background-color: #444444;
  padding: 20px;
  text-align: left;
  position: relative
}

/* The navbar container */
.topnav {
  overflow: hidden;
  background-color: #333333;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: #EAEAEA;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
  background-color: #444444;
  color: #EAEAEA;
}

.topnav a.active {
  background-color: #ff5050;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*Menu icon by Icons8 */
.icon-Menu { /* Customizes Menu icon */
  width: 64px;
  height: 64px;
}
.icon { /* Customizes all icons at once */
  display: inline-block;
}

div#neumo {
  border-radius: 10px;
  background: #303030;
  box-shadow:  20px 20px 60px #292929, -20px -20px 60px #373737;
  height: 100px;
  width: 200px;
	}

div#footer {
 position: absolute;
 bottom: 0;
}
